button{
    border-radius: 10px;
    color: #121313b7;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    border: none;
}
button:hover{
    transform:scale3d(1.2,1.2,1.2);
}
.poll {
    align-self: flex-end;
    display: flex;
    width: 400px;
    padding: 1.5rem;
    margin: 50px;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(225, 44, 44, 0.15);
    border-radius: 10px;
}
.poll:hover{
    box-shadow: 0 0 20px rgba(27, 212, 39, 0.15);
   
}
